.page-header {
    background-color: #fafafa;
    padding: 20px;
    margin-left: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.add-icon svg {
    color: #0d4b53;
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    top: 83%;
    right: 1%;
}